
# <p style="text-align: center;">MIS 382N: ADVANCED PREDICTIVE MODELING - MSBA</p>
# <p style="text-align: center;">Assignment 1</p>
## <p style="text-align: center;">Total points: 100</p>
## <p style="text-align: center;">Due: Tuesday, September 17 submitted via Canvas by 11:59 pm</p>

Your homework should be written in a **Jupyter notebook**. You may work in groups of two if you wish. Your partner needs to be from the same section. Only one student per team needs to submit the assignment on Canvas.  But be sure to include name and UTEID for both students.  Homework groups will be created and managed through Canvas, so please do not arbitrarily change your homework group. If you do change, let the TA know. 

Also, please make sure your code runs and the graphics (and anything else) are displayed in your notebook before submitting. (%matplotlib inline)

# Question 1: Challenges in Data Science (10 pts)

Refer to the Domino guide under Modules --> Additional Resources

Section 2 describes 8 Challenges. You may have personally encountered or heard of somebody else who encountered some of these challenge. If so,  please write 1-2 paragraphs on what situation was encountered and how it mapped into one the mentioned challenges. If not, think of a hypothetical case and do the same exercise. 


## Answer

During my summer internship at a startup in India, I encountered one of the problems mentioned in the white paper by Domino. The paper states it as : "Solve the right problem, but didn't realise it had already been solved or can't reproduce it.". I observed that the projects inside the company did not have the proper documentation for the code used. The only accessible data was the output of the whole projects in terms of insight or a metric that was tracked by a new dashboard. There was no way to access the thinking throughout the project which ###. I believe this is a drawback of chasing the problem in a competitive and timed environment. Data science being an analysis tool for the company and not the actual sellable product led to the company treating it for quick insights and directions to make decisions.

I am sure there will be multiple times, when someone working on a different project can take help of already run projects and use part of the thinking and intermediate insights. One such case happened with me where I recreated the whole module to determine an attribute regarding the user of the product only to realise that this was already been done in some other project. Another problem that arises here is the absence of properly documented insights that might have appeared during the intermediate steps. The individualistic attention that a project gets tends to dictate the structure and collection formats of the data that might also lead to problems if the same data is used for some other kind of application.

# Question 2: MLE Estimate (5+10+10 points)

Consider a coin tossing experiment where a biased coin is tossed repeatedly for $n$ times with independence in successive tosses. 
If we record the outcome of each toss as $X_{i}$, for $i \in \{1,2,3,....,n\}$ as follows

$  
X_{i} = 
     \begin{cases}
       \text{1,} &\quad\text{if $i^{th}$ toss results in $Heads$,}\\
       \text{0,} &\quad\text{otherwise.} \\ 
     \end{cases}
$

then $X_{1}, X_{2}, .... X_{n}$ will be a sequence of $0$'s and $1$'s. Assume that for this coin $P(Heads) = p$, which of course is not known to the experimenter. 

1. The log-likelihood function of the observations, as discussed in the class, denotes the probability of occurrence of the observations. Write the log-likelihood function for the set of observations $X_{1}, X_{2}, .... X_{n}$. 

2. Compute an MLE estimate of $p$.

3. Check if the obtained estimate is unbiased.

## Answer

<img src="IMG-8994.jpg"> <img src="IMG-8995.jpg"> <img src="IMG-8996.jpg">

# Question 3: Multiple Linear Regression in Python (30 pts)

Use the following code to import the California housing prices dataset and linear models in python. The dataset is taken from https://www.kaggle.com/camnugent/california-housing-prices/version/1. I have removed the categorical variables and rows with missing variables to make it easier to run the models.

In [135]:
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None


train_df = pd.read_csv("reduced_data.csv")
X = train_df.drop(['median_house_value'],axis=1)
Y = train_df['median_house_value']

a. (2 pts) Print the shape (number of rows and columns) of the feature matrix X, and print the first 5 rows.

b.  (6 pts) Using ordinary least squares, fit a multiple linear regression (MLR) on all the feature variables using the entire dataset. Report the regression coefficient of each input feature and evaluate the model using mean absolute error (MAE).  Example of ordinary least squares in Python is shown in Section 1.1.1 of http://scikit-learn.org/stable/modules/linear_model.html.

c.  (6 pts) Split the data into a training set and a test set, using the [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) with test_size = 0.30 and random_state = 11. Fit an MLR using the training set.  Evaluate the trained model using the training set and the test set, respectively.  Compare the two MAE values thus obtained.

d.  (5 pts) Calculate the pearson correlation matrix of the independent variables in the training set (you can use [this](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html)). Report the variables which have magnitude of correlation greater than 0.9 w.r.t the variable 'households'. 

e.  (6 pts) Add the following independent variables to both train and test sets:
1. average_bedrooms = total_bedrooms/households
2. average_rooms = total_rooms/households
3. average_population = total_rooms/households

Recalculate the correlation matrix. What do you observe about the correlation values of the above new variables?

f. (5 pts) Fit an MLR on the new train data (with additional independent variables) and report the MAE on the new train and test sets.

## Answer

## (a)

In [16]:
X.shape

(20433, 8)

In [17]:
X.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462

## (b)

In [84]:
reg = linear_model.LinearRegression()
reg.fit(X,Y)
coeff_df = pd.DataFrame(reg.coef_, X.columns, columns=['Coefficient'])  
coeff_df

                     Coefficient
longitude          -42730.120454
latitude           -42509.736942
housing_median_age   1157.900307
total_rooms            -8.249725
total_bedrooms        113.820707
population            -38.385578
households             47.701351
median_income       40297.521715

In [28]:
Y_pred = reg.predict(X)
mean_absolute_error(Y,Y_pred)

50799.6307289529

## (c)

In [183]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.30, random_state=11)
reg2 = linear_model.LinearRegression()
reg2.fit(X_train,y_train)
Y_pred_test = reg2.predict(X_test)
print(mean_absolute_error(y_test,Y_pred_test))
Y_pred_train = reg2.predict(X_train)
print(mean_absolute_error(y_train,Y_pred_train))

50916.74299435044
50749.10314465219

## (d)

In [46]:
X_train.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
longitude,1.000000,-0.925627,-0.111272,0.042788,0.069305,0.101596,0.056116,-0.020466
latitude,-0.925627,1.000000,0.013098,-0.034147,-0.066424,-0.109600,-0.070537,-0.074943
housing_median_age,-0.111272,0.013098,1.000000,-0.356534,-0.316644,-0.294652,-0.298702,-0.115736
total_rooms,0.042788,-0.034147,-0.356534,1.000000,0.927454,0.859323,0.916556,0.198486
total_bedrooms,0.069305,-0.066424,-0.316644,0.927454,1.000000,0.880929,0.979547,-0.013082
population,0.101596,-0.109600,-0.294652,0.859323,0.880929,1.000000,0.910283,-0.001523
households,0.056116,-0.070537,-0.298702,0.916556,0.979547,0.910283,1.000000,0.008033
median_income,-0.020466,-0.074943,-0.115736,0.198486,-0.013082,-0.001523,0.008033,1.000000

In [68]:
df= X_train.corr()
df.households[df.households>0.9]

total_rooms       0.916556
total_bedrooms    0.979547
population        0.910283
households        1.000000
Name: households, dtype: float64

Independent variables having correlation greater than 0.9 w.r.t 'households':

## (e)

In [76]:
##average_bedrooms = total_bedrooms/households
##average_rooms = total_rooms/households
##average_population = population/households
X_train['average_bedrooms']=X_train['total_bedrooms']/X_train['households']
X_train['average_rooms']=X_train['total_rooms']/X_train['households']
X_train['average_population']=X_train['population']/X_train['households']

X_test['average_bedrooms']=X_test['total_bedrooms']/X_test['households']
X_test['average_rooms']=X_test['total_rooms']/X_test['households']
X_test['average_population']=X_test['population']/X_test['households']

##recalculate correlation matrix
X_train.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,average_bedrooms,average_rooms,average_population
longitude,1.000000,-0.925627,-0.111272,0.042788,0.069305,0.101596,0.056116,-0.020466,0.017548,-0.027099,0.011811
latitude,-0.925627,1.000000,0.013098,-0.034147,-0.066424,-0.109600,-0.070537,-0.074943,0.062059,0.104294,-0.002330
housing_median_age,-0.111272,0.013098,1.000000,-0.356534,-0.316644,-0.294652,-0.298702,-0.115736,-0.077163,-0.158539,0.012569
total_rooms,0.042788,-0.034147,-0.356534,1.000000,0.927454,0.859323,0.916556,0.198486,0.036170,0.146227,-0.031031
total_bedrooms,0.069305,-0.066424,-0.316644,0.927454,1.000000,0.880929,0.979547,-0.013082,0.054525,0.004237,-0.036556
population,0.101596,-0.109600,-0.294652,0.859323,0.880929,1.000000,0.910283,-0.001523,-0.062026,-0.072951,0.077684
households,0.056116,-0.070537,-0.298702,0.916556,0.979547,0.910283,1.000000,0.008033,-0.050050,-0.081950,-0.034892
median_income,-0.020466,-0.074943,-0.115736,0.198486,-0.013082,-0.001523,0.008033,1.000000,-0.059447,0.350785,0.000417
average_bedrooms,0.017548,0.062059,-0.077163,0.036170,0.054525,-0.062026,-0.050050,-0.059447,1.000000,0.833841,-0.002194
average_rooms,-0.027099,0.104294,-0.158539,0.146227,0.004237,-0.072951,-0.081950,0.350785,0.833841,1.000000,0.003475
average_population,0.011811,-0.002330,0.012569,-0.031031,-0.036556,0.077684,-0.034892,0.000417,-0.002194,0.003475,1.000000

Observation:

## (f)

In [81]:
##MLR and MAE
reg3 = linear_model.LinearRegression()
reg3.fit(X_train,y_train)
Y_pred_test = reg3.predict(X_test)
Y_pred_train = reg3.predict(X_train)
mean_absolute_error(y_train,Y_pred_train)

50474.268791457886

In [82]:
mean_absolute_error(y_test,Y_pred_test)

50783.974603927876

# Question 4: Ridge and Lasso Regression (30 points)

Using the same data from before, in this question you will explore the application of Lasso and Ridge regression using sklearn package in Python. Use the same train and test data with additional augmented columns from before. Scale the data so that each of the dependent variables have zero mean and unit variance. You can use the [sklearn.preprocessing.scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.scale.html) function for this.

In [23]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, RidgeCV, LassoCV

1) Use sklearn.linear_model.Lasso and sklearn.linear_model.Ridge classes to do a [5-fold cross validation](http://scikit-learn.org/stable/auto_examples/exercises/plot_cv_diabetes.html#example-exercises-plot-cv-diabetes-py) using sklearn's [KFold](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.KFold.html). For the sweep of the regularization parameter, we will look at a grid of values ranging from $\lambda = 10^{10}$ to $\lambda = 10^{-2}$. In Python, you can consider this range of values as follows:

      import numpy as np

      alphas =  10**np.linspace(10,-2,100)*0.5

  Report the best chosen $\lambda$ based on cross validation. The cross validation should happen on your training data using  average MAE as the scoring metric. (8pts)

2) Run ridge and lasso for all of the alphas specified above (on training data), and plot the coefficients learned for each of them - there should be one plot each for lasso and ridge, so a total of two plots; the plots for different features for a method should be on the same plot. What do you qualitatively observe when value of the regularization parameter is changed? (7pts)

3) Run least squares regression, ridge, and lasso on the training data. For ridge and lasso, use only the best regularization parameter. Report the prediction error (MAE) on the test data for each. (5pts)

4) Run lasso again with cross validation using [sklearn.linear_model.LassoCV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html). Set the cross validation parameters as follows:

    LassoCV(alphas=None, cv=10, max_iter=10000)

Report the best $\lambda$ based on cross validation. Run lasso on the training data using the best $\lambda$ and report the coefficeints for all variables. (5pts)

5) Why did we have to scale the data before regularization? (5pts)


## Answer

## 1

In [178]:
from sklearn import model_selection
kf = model_selection.KFold(n_splits = 5)
X = np.array(X)
Y = np.array(Y)

for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]

TRAIN: [ 4087  4088  4089 ... 20430 20431 20432] TEST: [   0    1    2 ... 4084 4085 4086]
TRAIN: [    0     1     2 ... 20430 20431 20432] TEST: [4087 4088 4089 ... 8171 8172 8173]
TRAIN: [    0     1     2 ... 20430 20431 20432] TEST: [ 8174  8175  8176 ... 12258 12259 12260]
TRAIN: [    0     1     2 ... 20430 20431 20432] TEST: [12261 12262 12263 ... 16344 16345 16346]
TRAIN: [    0     1     2 ... 16344 16345 16346] TEST: [16347 16348 16349 ... 20430 20431 20432]

## 2

In [2]:
#Plotting ridge coefficents as a function of the regularization

In [3]:
#Plotting lasso coefficents as a function of the regularization

## 3

## 4

In [4]:
#Fitting LassoCV

In [6]:
#Print the alpha parameter obtained above

In [5]:
#Fit lasso using the above alpha and report MAE on Test.

## 5

## Answer
When regularising linear regression either in the case of Ridge or in Lasso, a penalty is applied on the size of the cofficients. These methods are also called Shrinkage methods as the coefficient shrink towards zero and towards each other. In the absence of standardisation in the form of scaling, the shrinking will not be fair. There will be different contributions to the penalised terms from both independent variables having different scales. To avoid such kinds of problems, the independent variables are scaled before performing regularised regression.

# Question 5 (5pts)

How do you think the performance of your model varies in the train and test set as you increase(decrease) the number of examples in the training dataset? Explain why does it change in a particular way.

## Answer

## EXPLAINATION: 
Let's approach the scenario in two different cases:
1. Increase in the number of examples in the training dataset

> More representative data: When the number of examples in the training dataset is increased the model's accuracy in the test dataset may increase as when there are more examples to learn from the model can improve itself to identify the trend.

> Less chance of Overfitting: Increasing the number of examples can also mean that if the model was fitting to the noise in the data, it can be reduced. In other words: overfitting on the training data can reduce.

2. Decrease in the number of examples in the training dataset

> Chance of Overfitting: Decreasing the number of examples in the training dataset reduces the points on which the model is trained making the model more vulnerable to learn from the noise in data i.e. overfitting the data.

> Unrepresentative data: Decreasing the number of examples might remove the data that depicts the trend. The model therefore might perform poor on the testing data set.

>> The model's performance on the training set will always be satisfactory as it is the data on which it is trained.